/* variables */
:root {
    --primary: #6E07F3;
}
/* reset */
* {
margin: 0;
padding: 0;
text-decoration: none;
box-sizing: border-box;
font-family: 'Montserrat', sans-serif;
}


/* base styles */



h1 {
    font-size: 1.3em;
}

h2 {
    font-size: 0.8em;
}

.button {
    border: 2px solid var(--primary);
    border-radius: 1em;
    padding: 0.3em;
    color: var(--primary);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
    background-color: var(--primary);
    color: white;
}

/* fonts */



/* mobile styles */

nav {
    display:flex;
    justify-content: end;
}

nav a {
    margin-right: 1em;
    margin-top: 0.8em;
}

.introduction {
    position:relative;
    min-height: 30vh;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    text-align:center;
}

.introduction h1 {
    margin-top: 1.2em;
    margin-bottom: 0.8em;
}

.introduction h2 {
    margin-bottom: 1.5em;
}

.introduction img {
    max-width: 40%;
}

.about-me {
    position:relative;
    min-height: 80vh;
    margin-top: 2em;
    color:white;
    background-color: var(--primary);
    text-align: center;
    
    
}

.about-me h2 {
    font-size: 1.4em;
    padding-top: 1em;
    margin-bottom: 1em;
}

.about-me div {
    margin:0 3em;
}

.about-me p {
    font-size: 0.9em;
    margin-bottom: 0.7em;
    
}

.expertise img {
    max-width: 40%;
}

.expertise {
    margin: 0 0.5em;
    height: 45vh;
    position: relative;
    
}

.expertise-container {
   
    transform: translateY(-30%);
    display: flex;
    justify-content: space-between;
    width: 100%; 
    
   
}

.expertise-column {
    text-align:center;
    border: 2px solid grey;
    border-radius: 0.8em;
    margin:0 0.5em;
    padding: 0 0.5em;
    background-color: white;

 
}

.expertise-column h4,
.expertise-column h3 {
    color: var(--primary);
    margin: 1em;
}

.my-work {
    min-height: 63vh;
    max-width: 100vw;
}

.my-work-title {
    text-align:center;
}

.my-work-title h2 {
    font-size: 1.7em;
    margin-bottom: 1em;
}

.my-work-title h3 {
    font-size: 0.9em;
    font-weight: normal;
    margin-bottom: 2em;
}



.container {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    
}

.app {
    width: 8em;
    height:10em;
    border: 2px solid var(--primary);
    border-radius: 1em;
    padding-top: 0.2em;
    
    margin-bottom: 1em;
    text-align:center;
    position:relative;
}

.app h3 {
    font-size: 1.1em;
}

.app p {
    opacity: 0;
}

.my-work-button {
    text-align:center;
    margin-top: 1em;
}

.car-image {
    position:absolute;
    max-width: 80%;
    left: 0.6em;
}

.book-image {
    position:absolute;
    max-width: 8em;
    right: 0.1em;
    top: 1.5em;
}

.movie-and-song-image {
    position: absolute;
    max-width: 50%;
    left: 2.2em;
    top: 3.5em;
}

.pictures-image {
    max-width: 100%;
    position:absolute;
    left: 0.1em;
    top: 2em;
}

.animals-image {
    max-width: 90%;
    position:absolute;
    left: 0.4em;
    top: 2.5em;
}

.Apps-image {
    max-width: 80%;
    position:absolute; 
    left: 0.8em;
    top:2.5em;
}

.contact-me {
    min-height: 35vh;
}   

.contact-title {
    text-align:center;
}

.contact-title h2 {
    color: var(--primary);
    font-size: 2em;
}

.contact-title h3 {
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 3em;
    font-weight: normal;
}

form {
    margin: 0 2em;
}

form input {
    border: none;
    border-bottom: 1px solid var(--primary);
    margin-bottom: 1em;
}

form input::placeholder {
    font-size: 0.9em;
}

.input-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1em;
    margin-bottom: 1em;
}

.message {
    width:100%;
}

.message input {
    width: 100%;
}

.submit-div {
    text-align:center;
    font-weight: bold;
}


/* body font-size: 16px;
2em = 32px;
 */







/* small tablet styles */
@media screen and (min-width: 620px) {



    .about-me {
        padding: 0 3em;
    }

    .about-me h2 {
        margin-bottom: 2em;
    } 

    .expertise-column {
        min-height: 30em;
    }

    .app {
        width: 10em;
    }

    .car-image {
        max-width:70%;
        left: 1.5em;
        top: 2.2em;
    }

    .book-image {
        max-width:9em;
        left: 0.5em;
    }

    .movie-and-song-image {
        left: 2.7em;
    }

    .pictures-image {
        top: 1em;
    }

    .animals-image {
        max-width: 80%;
        left: 1em;
        top: 2em;
    }

    .Apps-image {
        max-width: 70%;
        left: 1.5em;
    }
}

/* large tablets & laptop styles */
@media screen and (min-width: 960px) {
    .about-me {
        padding: 0 10em;
    }

    .about-me h2 {
        font-size: 2em;
    }

    .about-me p {
        margin-bottom: 2em;
    }

    .expertise {
        margin-bottom: 3em;
    }

    .app {
        width: 16em;
        height: 16em;
    }

    .car-image {
        left: 2.5em;
    }

    .book-image {
        max-width: 14em
    }

    .movie-and-song-image {
        left: 4em;
    }

    .Apps-image {
        left: 2.2em;
        top: 3em;
    }

    .contact-me {
        min-height: 40vh;
        margin-top: 6em;
        margin-left: 4em;
        margin-right: 4em;

    }

    form input {
        margin-bottom: 3em;
    }

}

/* desktop styles */
@media screen and (min-width: 1200px) {

}